a {
    color: black;
    text-decoration: none;
    margin: 4px;
}

body {
    font-family: Habibi, sans-serif;
    font-size: 14px;
    margin: 55px 0 0 0;
    text-align: center;
}

h2 {
    font-weight: normal;
    margin-bottom: 0px;
    margin-top: 25px;
}

h3 {
    font-weight: normal;
    font-style: italic;
    margin-top: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    display: inline;
}

table {
    border-collapse: collapse;
}

td {
    font-size: 16px;
}

tr:nth-child(even) {
    background-color: #faf4f5;
}

#logo-main {
    height: 55px;
    width: auto;
}

#logo-wrapper {
    float: left;
    padding: 2px 7% 3px 0;
}

#main-photo {
    width: 100%;
}

#menu-btn-wrapper {
    height: 120px;
    margin: 0 auto;
    width: 75%;
}

#menu-wrapper {
    margin: 0 auto 20px auto;
    max-width: 900px;
    text-align: left;
    width: 100%;
}

#navigation {
    background-color: #fff;
    font-size: 18px;
    height: 60px;
    line-height: 60px;
    position: fixed;
    top: 0;
    white-space: nowrap;
    width: 100%;
    z-index: 10;
}

#navigation-options {
    width: 300px;
}

#navigation-wrapper {
    margin: 0 auto;
    width: 500px;
}

#title {
    background-color: white;
    font-size: 32px;
    font-weight: bold;
    height: 100px;
    position: fixed;
    top: 0;
    white-space: nowrap;
    width: 100%;
    z-index: 10;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

.menu-btn {
    display: inline-block;
    font-size: 16px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    width: 19%;
}

.menu-btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.menu-btn-selected {
    background-color: #f5e6e8;
}

.menu-btn-selected:hover {
    opacity: 1;
}

.menu-divider {
    font-family: fareast;
    font-size: 18px;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    width: 75%;
}

.menu-section {
    display: none;
}

.menu-section-selected{
    display: block;
}

@font-face {
    font-family: fareast;
    src: url(fonts/fareast.ttf);
}

@font-face {
    font-family: Habibi;
    src: url(fonts/Habibi-Regular.ttf);
}