a {
    color: black;
    text-decoration: none;
    margin: 4px;
}

body {
    font-family: Habibi, sans-serif;
    font-size: 14px;
    margin: 55px 0 0 0;
    text-align: center;
}

h1 {
    font-family: Abel, sans-serif;
    font-size: 10vmin;
}

h2 {
    font-weight: normal;
    margin-bottom: 0px;
    margin-top: 25px;
}

h3 {
    font-weight: normal;
    font-style: italic;
    margin: 0;
}

table {
    border-collapse: collapse;
    margin-top: 16px;
    width: 100%;
}

td {
    font-size: 16px;
    padding: 2px 0;
}

td:nth-child(odd) {
    width: 85%;
}

td:nth-child(even) {
    text-align: right;
    width: 15%;
}

tr {
    padding: 7px 0;
}

tr:nth-child(odd) {
    background-color: #faf4f5;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    display: inline;
}

#about {
    border-bottom: 1px solid rgba(0,0,0,0.5);
    margin: 3px;
}

#contact {
    background-color: #fff;
    bottom: 0;
    font-size: 18px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
    width: 100%;
    z-index: 10;
}

#contact-wrapper {
    margin: 0 auto;
    width: 500px;
}

#logo-main {
    height: 55px;
    width: auto;
}

#logo-wrapper {
    float: left;
    padding: 2px 7% 3px 0;
}

#main-photo {
    width: 100%;
}

#menu-btn-wrapper {
    font-size: 0;
    height: 60px;
    margin: 0 auto;
    max-width: 900px;
    width: 100%;
}

#menu-btn-wrapper li {
    border-right: 2px solid #faf4f5;
}

#menu-btn-wrapper li:last-child{
    border-right: none;
}

#menu-wrapper {
    margin: 0 auto 20px auto;
    max-width: 725px;
    text-align: left;
    width: 100%;
}

#navigation {
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    font-size: 18px;
    height: 60px;
    line-height: 60px;
    position: fixed;
    top: 0;
    white-space: nowrap;
    width: 100%;
    z-index: 10;
}

#navigation-options {
    width: 300px;
}

#navigation-wrapper {
    margin: 0 auto;
    width: 500px;
}

#title {
    background-color: white;
    font-size: 32px;
    font-weight: bold;
    height: 100px;
    position: fixed;
    top: 0;
    white-space: nowrap;
    width: 100%;
    z-index: 10;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

.menu-btn {
    display: inline-block;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 178px;
}

.menu-btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.menu-btn-selected {
    background-color: #f5e6e8;
}

.menu-btn-selected:hover {
    opacity: 1;
}

.menu-divider {
    font-family: fareast;
    font-size: 18px;
    margin: 0 auto;
    max-width: 925px;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}

.menu-section {
    display: none;
}

.menu-section-selected{
    display: block;
}

.subtitle {
    font-size: 18px;
}

@font-face {
    font-family: fareast;
    src: url(fonts/fareast.ttf);
}

@font-face {
    font-family: Habibi;
    src: url(fonts/Habibi-Regular.ttf);
}

@media only screen and (max-width: 920px) {
    #menu-btn-wrapper {
        height: 100%;
        width: 100%;
    }

    #menu-btn-wrapper li {
        border-bottom: 2px solid #faf4f5;
        border-right: none;
    }

    .menu-btn {
        display: inline-block;
        font-size: 16px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        width: 100%;
    }
}

@media only screen and (max-width: 450px) {
    #logo-wrapper {
        display: none;
    }

    #navigation {
        font-size: 16px;
    }
    #navigation-options {
        width: 100%;
    }

    #navigation-wrapper {
        width: 100%;
    }
}